*::selection{
    background-color: black;
    color: red;
}
body{
    background-color: lightblue;
}
h1{
    text-align: center;
    color: white;
    background-color: green;
    padding: 10px;
}
p#para1{
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}
.container{
    background-color: white;
}
.container .para {
    color: blue;
    font-size: 20px;
    padding: 10px;
}
.container #para3 {
    color: white;
    background-color: black;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.btn{
    color: red;
    background-color: #ddd;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px;
    margin: 0 auto;
    display: block;
    width: 280px;
    border-radius: 15px;
}
table, th, td{
    border: 2px solid green;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    overflow: auto;
    padding: 50px;
}